@model Inspinia_MVC5.Models.Colaboradores


<!--
    <div class="ibox-content text-center" STYLE="background-color:lightseagreen">
    <div class="ibox-content text-center" STYLE="background-color:orangered">

    -->

<div id="divGetColaboradorByIdColor" class="ibox-content text-center" style="background-color:crimson">
    <div class="m-b-md">
        <h2 class="font-bold no-margins">
            <br />
        </h2>
        <small><br /></small>
    </div>
    <img width="200" height="200" src="~/Images/User 2.png" class="img-circle circle-border m-b-md" alt="profile">

    <div>

        <h2>
            <br />
        </h2>
    </div>
</div>
<div class="widget-text-box">
    <small class="pull-right text-navy"><br /> </small>
    <h4 class="media-heading">Fecha y Hora:</h4>
    <p>@ViewBag.FechayHora</p>
    <div class="text-right">
        <h2 id="divGetEstado">COLABORADOR DESCONOCIDO</h2>
    </div>

    <div class="text-right">
        <br />
        <br />

    </div>
</div>









