<div class="footer">
    <div class="pull-right">
        Ing. Bruno juarez Valdivia
    </div>
    <div>
        <strong>Asignatura :</strong> Construcción y Pruebas de Software 2016
    </div>
</div>
