USE [master]
GO
/****** Object:  Database [IDCHECKDB]    Script Date: 10/11/2016 11:52:06 p. m. ******/
CREATE DATABASE [IDCHECKDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IDCHECKDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\IDCHECKDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IDCHECKDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\IDCHECKDB_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IDCHECKDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IDCHECKDB]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 10/11/2016 11:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[ID_Area] [int] IDENTITY(1,1) NOT NULL,
	[NombreArea] [nvarchar](100) NOT NULL,
	[CentroCostos] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[ID_Area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Calendarios]    Script Date: 10/11/2016 11:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendarios](
	[ID_Calendario] [int] IDENTITY(1,1) NOT NULL,
	[Periodo] [nvarchar](4) NOT NULL,
	[Fecha] [date] NOT NULL,
	[ID_TipoDia] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Calendarios] PRIMARY KEY CLUSTERED 
(
	[ID_Calendario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Colaboradores]    Script Date: 10/11/2016 11:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colaboradores](
	[COD_Colaborador] [nchar](8) NOT NULL,
	[COD_Empresa] [nchar](11) NOT NULL,
	[ID_Area] [int] NOT NULL,
	[ApellidoPaterno] [nvarchar](100) NOT NULL,
	[ApellidoMaterno] [nvarchar](100) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[FechaContratacion] [date] NOT NULL,
	[FechaIngresoReingreso] [date] NOT NULL,
	[FechaCese] [date] NOT NULL,
	[Direccion] [nvarchar](100) NOT NULL,
	[Foto] [image] NULL,
	[Cargo] [nvarchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Trabajadores] PRIMARY KEY CLUSTERED 
(
	[COD_Colaborador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 10/11/2016 11:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[COD_Empresa] [nchar](11) NOT NULL,
	[RazonSocial] [nvarchar](200) NOT NULL,
	[Telefono] [nchar](20) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[COD_Empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RegistrosDiarios]    Script Date: 10/11/2016 11:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosDiarios](
	[ID_RegistroDiario] [int] IDENTITY(1,1) NOT NULL,
	[COD_Colaborador] [nchar](8) NOT NULL,
	[Periodo] [nvarchar](4) NOT NULL,
	[Fecha] [date] NOT NULL,
	[FechaYHoraIngreso] [datetime] NOT NULL,
	[FechaYHoraSalida] [datetime] NULL,
	[UltimaActualizacion] [datetime] NULL,
 CONSTRAINT [PK_RegistrosDiarios] PRIMARY KEY CLUSTERED 
(
	[ID_RegistroDiario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TiposDeDias]    Script Date: 10/11/2016 11:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDeDias](
	[ID_TipoDia] [nvarchar](50) NOT NULL,
	[NombreTipoDia] [nvarchar](50) NOT NULL,
	[DescripcionTipoDia] [nvarchar](50) NULL,
 CONSTRAINT [PK_TiposDeDias] PRIMARY KEY CLUSTERED 
(
	[ID_TipoDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ubigeos]    Script Date: 10/11/2016 11:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubigeos](
	[COD_Departamento] [nvarchar](2) NOT NULL,
	[COD_Provincia] [nvarchar](2) NOT NULL,
	[COD_Distrito] [nvarchar](2) NOT NULL,
	[Departamento] [nvarchar](100) NULL,
	[Provincia] [nvarchar](100) NULL,
	[Distrito] [nvarchar](100) NULL,
 CONSTRAINT [PK_Ubigeos] PRIMARY KEY CLUSTERED 
(
	[COD_Departamento] ASC,
	[COD_Provincia] ASC,
	[COD_Distrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([ID_Area], [NombreArea], [CentroCostos]) VALUES (1, N'MANTENIMIENTO', N'M65345289')
INSERT [dbo].[Areas] ([ID_Area], [NombreArea], [CentroCostos]) VALUES (2, N'PLANTA', N'P73676534')
INSERT [dbo].[Areas] ([ID_Area], [NombreArea], [CentroCostos]) VALUES (3, N'PROCESOS', N'PR5647887')
SET IDENTITY_INSERT [dbo].[Areas] OFF
SET IDENTITY_INSERT [dbo].[Calendarios] ON 

INSERT [dbo].[Calendarios] ([ID_Calendario], [Periodo], [Fecha], [ID_TipoDia]) VALUES (1, N'2016', CAST(N'2016-10-01' AS Date), N'T1')
INSERT [dbo].[Calendarios] ([ID_Calendario], [Periodo], [Fecha], [ID_TipoDia]) VALUES (2, N'2016', CAST(N'2016-10-02' AS Date), N'T2')
INSERT [dbo].[Calendarios] ([ID_Calendario], [Periodo], [Fecha], [ID_TipoDia]) VALUES (3, N'2016', CAST(N'2016-10-03' AS Date), N'T1')
SET IDENTITY_INSERT [dbo].[Calendarios] OFF
INSERT [dbo].[Empresas] ([COD_Empresa], [RazonSocial], [Telefono], [Email]) VALUES (N'20234567543', N'INGENIERIA Y MANTENIMIENTO SAC', N'345623              ', NULL)
SET IDENTITY_INSERT [dbo].[RegistrosDiarios] ON 

INSERT [dbo].[RegistrosDiarios] ([ID_RegistroDiario], [COD_Colaborador], [Periodo], [Fecha], [FechaYHoraIngreso], [FechaYHoraSalida], [UltimaActualizacion]) VALUES (4, N'11111111', N'2016', CAST(N'2016-10-01' AS Date), CAST(N'2016-10-01 07:00:00.733' AS DateTime), CAST(N'2016-10-01 16:04:02.287' AS DateTime), CAST(N'2016-10-01 16:04:02.287' AS DateTime))
INSERT [dbo].[RegistrosDiarios] ([ID_RegistroDiario], [COD_Colaborador], [Periodo], [Fecha], [FechaYHoraIngreso], [FechaYHoraSalida], [UltimaActualizacion]) VALUES (6, N'11111111', N'2016', CAST(N'2016-10-02' AS Date), CAST(N'2016-10-02 07:00:00.733' AS DateTime), CAST(N'2016-10-02 17:00:00.733' AS DateTime), CAST(N'2016-10-02 17:00:00.733' AS DateTime))
INSERT [dbo].[RegistrosDiarios] ([ID_RegistroDiario], [COD_Colaborador], [Periodo], [Fecha], [FechaYHoraIngreso], [FechaYHoraSalida], [UltimaActualizacion]) VALUES (13, N'11111111', N'2016', CAST(N'2016-11-09' AS Date), CAST(N'2016-11-09 16:42:58.410' AS DateTime), CAST(N'2016-11-09 16:43:13.163' AS DateTime), CAST(N'2016-11-09 16:43:13.163' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegistrosDiarios] OFF
INSERT [dbo].[TiposDeDias] ([ID_TipoDia], [NombreTipoDia], [DescripcionTipoDia]) VALUES (N'T1', N'Dia Normal', N'Dia Normal Laborable Regular')
INSERT [dbo].[TiposDeDias] ([ID_TipoDia], [NombreTipoDia], [DescripcionTipoDia]) VALUES (N'T2', N'Dia Domingo/Feriado', N'Dia laborable en domigos o feriados')
INSERT [dbo].[Ubigeos] ([COD_Departamento], [COD_Provincia], [COD_Distrito], [Departamento], [Provincia], [Distrito]) VALUES (N'01', N'01', N'01', N'AMAZONAS', N'CHACHAPOYAS', N'CHACHAPOYAS')
INSERT [dbo].[Ubigeos] ([COD_Departamento], [COD_Provincia], [COD_Distrito], [Departamento], [Provincia], [Distrito]) VALUES (N'01', N'01', N'02', N'AMAZONAS', N'CHACHAPOYAS', N'ASUNCION')
INSERT [dbo].[Ubigeos] ([COD_Departamento], [COD_Provincia], [COD_Distrito], [Departamento], [Provincia], [Distrito]) VALUES (N'01', N'01', N'03', N'AMAZONAS', N'CHACHAPOYAS', N'BALSAS')
GO
ALTER TABLE [dbo].[Calendarios]  WITH CHECK ADD  CONSTRAINT [FK_Calendarios_TiposDeDias] FOREIGN KEY([ID_TipoDia])
REFERENCES [dbo].[TiposDeDias] ([ID_TipoDia])
GO
ALTER TABLE [dbo].[Calendarios] CHECK CONSTRAINT [FK_Calendarios_TiposDeDias]
GO
ALTER TABLE [dbo].[Colaboradores]  WITH CHECK ADD  CONSTRAINT [FK_Trabajadores_Areas] FOREIGN KEY([ID_Area])
REFERENCES [dbo].[Areas] ([ID_Area])
GO
ALTER TABLE [dbo].[Colaboradores] CHECK CONSTRAINT [FK_Trabajadores_Areas]
GO
ALTER TABLE [dbo].[Colaboradores]  WITH CHECK ADD  CONSTRAINT [FK_Trabajadores_Empresas] FOREIGN KEY([COD_Empresa])
REFERENCES [dbo].[Empresas] ([COD_Empresa])
GO
ALTER TABLE [dbo].[Colaboradores] CHECK CONSTRAINT [FK_Trabajadores_Empresas]
GO
ALTER TABLE [dbo].[RegistrosDiarios]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosDiarios_Trabajadores] FOREIGN KEY([COD_Colaborador])
REFERENCES [dbo].[Colaboradores] ([COD_Colaborador])
GO
ALTER TABLE [dbo].[RegistrosDiarios] CHECK CONSTRAINT [FK_RegistrosDiarios_Trabajadores]
GO
/****** Object:  StoredProcedure [dbo].[FechaServidor]    Script Date: 10/11/2016 11:52:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FechaServidor] 
AS
BEGIN

	SET NOCOUNT ON;
select GETDATE();
END

GO
USE [master]
GO
